body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input {
  font-family: 'Apple SD Gothic Neo';
}

p {
  font-size: 1rem;
  font-family: 'Apple SD Gothic Neo';
  margin: 10px;
}

h1 h2 h3 h4 {
  font-family: 'Apple SD Gothic Neo';
}

@media (max-width: 320px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
    font-weight: 600;
  }
  h3 {
    font-size: 16px;
    font-weight: 600;
    margin: 10px;
  }
  p {
    margin: 8px;
  }
}
